@import url(reset.css);

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../assets/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../assets/fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf');
    font-weight: bold;
}

:root {
    --softWhite: #f2ebe9;
    --softPink: #eddcd9;
    --pink: #de5499;
    --green: #264143;
    --orange: #e99f4c;
}

html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

body {
    height: 1200px;
    width: 100vw;
}

#content {
    width: 100%;
    height: 100%;
    background-color: var(--softPink);
}

.main {
    width: 100%;
    height: 100%;
    display: inline-flex;
    font-family: "Cormorant Garamond", sans-serif;
}

.line-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.pink-lines {
    width: 50%;
    height: auto;
    margin-left: -35%;
    margin-bottom: 25px;
}

.green-lines {
    width: 50%;
    height: auto;
    margin-right: -35%;
    margin-top: -150px;
}

.bowl-container {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.avo-bowl {
    height: 1000px;
    margin-top: -90px;
    overflow: hidden;
}

.green-side {
    height: 100%;
    width: 50%;
    background-color: var(--green);
}


.pink-side {
    height: 100%;
    width: 50%;
    background-color: var(--softPink);
    display: flex;
}

.pink-text-container {
    height: 15%;
    width: 80%;
    margin-top: 90px;
    margin-left: 30px;
    padding: 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
    font-size: 4em;
    letter-spacing: 2px;
    color: var(--green);
}

.green-text-container {
    height: 15%;
    width: 60%;
    margin-top: 70vh;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: left;
    font-size: 3.8em;
    font-weight: bolder;
    letter-spacing: 2px;
    color: var(--pink);
}

.green-text-container p {
    margin-top: 15px;
    width: 100%;
}

.button-container {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.menu-button {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    position: relative;
    z-index: 5;
    background-color: var(--orange);
    color: var(--softWhite);
    font-size: 28px;
    font-weight: bolder;
    word-spacing: 0;
    font-family: inherit;
    line-height: 60px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.menu-button:hover {
    cursor: pointer;
    background-color: #e59336;
}

/* Styles for Menu Page*/

.menu-container {
    width: 100%;
    height: 100%;
    background-color: var(--softPink);
    margin-top: 30px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.title-container {
    width: 100%;
    height: 80px;
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
}

.menu-title {
    width: 400px;
    color: var(--softWhite);
    font-size: 4em;
    font-family: "Cormorant Garamond", sans-serif;
    word-spacing: 20px;
    background-color: var(--green);
    line-height: 80px;
    border-radius: 40px;
}

.menu-background {
    width: 90%;
    height: 100%;
    margin: 1% 3% 0 3%;
    padding: 8px;
    background-color: var(--softPink);
    border: 3px solid #FFF;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.9em;
}

.menu-item {
    background-color: var(--green);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.menu-item img {
    width: 200px;
    height: 200px;
    float: left;
    margin: 15px 20px 10px 15px;
    border-radius: 10px;
}

.menu-item-title {
    margin: 20px 0 7px 0;
    font-size: 1.8em;
    color: var(--orange);
}

.description {
    margin: 5px 15px 0 10px;
    color: var(--softWhite);
    font-size: 1.2em;
    line-height: 1.5em;
}

/* Styles for About Page*/

.contact-container {
    height: 100vh;
    width: 100%;
    margin-top: 50px;
    background-color: var(--softPink);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-background {
    width: 90%;
    height: 75%;
    margin-top: -30px;
    background-color: var(--softPink);
    border: 3px solid #FFF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-card {
    width: 98%;
    height: 98%;
    background-color: var(--green);
    border-radius: 35px;
    display: flex;
    align-items: inherit;
}


.info-container {
    width: 50%;
    min-width: 50%;
    height: 97%;
    float: left;
    margin-left: 6px;
    border: 3px solid var(--softWhite);
    border-radius: 32px 0 0 32px;
    display: grid;
    grid-gap: 10px 0;
    grid-template-rows: repeat(6, 1fr);
    align-items: inherit;
}

.card-item {
    width: 90%;
    min-width: 90%;
    height: 50%;
    justify-self: center;
    padding: 5px 5px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    text-align: left;
}

.contact-desc {
    font-size: 1.8em;
    color: var(--orange);
    width: 150px;
}

.contact-value {
    font-size: 1.2em;
    color: var(--softWhite);
    width: 60%;
}

.contact-img {
    height: 60px;
    width: auto;
    margin-right: 10px;
}

.quote-one {
    font-family: Georgia, sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 1.8em;
    color: var(--softWhite);
    width: 100%;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.image-area {
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
}

.liberty {
    margin-top: 50px;
    height: 350px;
    width: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.location-text {
    width: 100%;
    margin-top: -75px;
    text-align: center;
    font-size: 2em;
    color: var(--orange);
}

#nav {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 10;
    background: #232323;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    color: var(--softWhite);
    font-size: 1.2em;
    font-family: "Cormorant Garamond", sans-serif;
}

.nav-item {
    width: 70px;
    height: 90%;
    text-align: center;
    line-height: 45px;
    background: none;
    color: var(--softWhite);
    margin-right: 10px;
}

#contact:hover {
    cursor: pointer;
}

#home:hover {
    cursor: pointer;
}

#menu:hover {
     cursor: pointer;
 }